@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.reveal-on-hover {
  overflow: hidden;
}

.inner-text {
  overflow: hidden;
}

/* animated text */
.line-span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  animation: slideUp 0.9s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

/* slide up animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* marquee wrapper */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

/* moving track */
.marquee-track {
  display: inline-flex;
  gap: 3rem;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* text style */
.marquee-track span {
  white-space: nowrap;
}

/* directions */
.marquee-left .marquee-track {
  animation-name: marquee-left;
}

.marquee-right .marquee-track {
  animation-name: marquee-right;
}

@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

body {
  font-size: 22px;
  font-weight: 300;
  line-height: 140%;
  color: #1d1d1b;
  font-family: var(--font-roboto);
  background-color: #fffdf5;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 95px;
  font-weight: 200;
  line-height: 115%;
}
h2 {
  font-size: 70px;
  line-height: 110%;
}
h3 {
  font-size: 60px;
  line-height: 120%;
}
h4 {
  font-size: 48px;
  line-height: 120%;
}
h5 {
  font-size: 35px;
  line-height: 130%;
}
h6 {
  font-size: 26px;
  line-height: 120%;
}
.fs-95 {
  font-size: 95px;
}
.fs-21 {
  font-size: 21px;
}
.fs-18 {
  font-size: 18px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.pb-160 {
  padding-bottom: 160px;
}

/* base button */
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 14px;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}

.bg-primary {
  background-color: #dfdac6;
}

/* primary colors */
.btn-primary {
  background-color: #1d1d1b;
  color: #fffdf5;
}

/* sliding background */
.btn-fill {
  position: absolute;
  inset: -1%;
  background-color: #464646;
  transform: translateY(100%);
  transition: transform 0.55s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 0;
}

/* text wrapper */
.btn-text-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* normal text */
.btn-text {
  display: block;
  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.45s cubic-bezier(0.22, 1, 0.36, 1);
}

/* hover text */
.btn-text-hover {
  position: absolute;
  inset: 0;
  display: block;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.45s cubic-bezier(0.22, 1, 0.36, 1);
}

/* hover states */
.btn:hover .btn-fill {
  transform: translateY(0%);
}

.btn:hover .btn-text {
  transform: translateY(-100%);
  opacity: 0;
}

.btn:hover .btn-text-hover {
  transform: translateY(0%);
  opacity: 1;
}

/* home-page */
/* section */
.hero-section {
  padding-top: calc(45px + 93px);
  padding-bottom: 45px;
  height: 100vh;

  background-image: url("/asset/images/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;

  animation: heroZoomOut 1s ease-out forwards;
}

@keyframes heroZoomOut {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 100%;
  }
}

.marquee-section {
  background-image: url("/asset/images/box.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 120% center;
  opacity: 0;
}

.marquee-section.animate {
  animation: slideBgFromRight 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideBgFromRight {
  0% {
    background-position: 140% center;
    opacity: 0;
    transform: scale(3);
  }
  100% {
    background-position: center;
    opacity: 1;
    transform: scale(1);
  }
}

/* section */
/* home-page */
